<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.expo">

    <uses-sdk tools:overrideLibrary="com.geejoe.drawabletextview,org.raphets.roundimageview" />

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="com.casvd.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="com.casvd.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="com.casvd.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="com.casvd.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.ExpoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name,android:icon,android:theme,android:allowBackup">

        <!-- 数据库名 -->
        <meta-data
            android:name="db_name"
            android:value="lucaspark.db" />

        <!-- 数据库版本 -->
        <meta-data
            android:name="db_version"
            android:value="1" />

        <!--高德KEY-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b3949e7fd600bfd0e278621a166e39b6" />
        <!--百度语音识别-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="15293743" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="ZIcM8O6UzTOvKXddXobMHpMI" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="1ZlCWUtbnVGLMYACl01fzqj8DomRj3Nm" />
        <!--百度统计-->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="6a412d59dc" />
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />

        <!-- 支付 -->
        <meta-data
            android:name="PPPaySDK"
            android:value="true" />

        <activity
            android:name=".module.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />

        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".module.language.LanguageActivity"
            android:screenOrientation="portrait" />

        <!--<activity android:name=".module.bind.BindActivity" />-->

        <activity
            android:name="com.sahooz.library.PickActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".module.webview.WebActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.webview.WebTemplateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.mine.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.contacts.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.contacts.ContactsAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.main.encyclopedia.EncyclopediaSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.distinguish.DistinguishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.freewifi.FreeWiFiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.heart.MessageKindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.heart.MessagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.NationalSmsCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.map.NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Fullscreen" />
        <activity
            android:name=".module.routes.RouteDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.map.ParkMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.service.LocationDescribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.routes.RoutesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.service.SeekHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.service.ShootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.service.TouristServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Tourist_service" />
        <activity
            android:name=".module.camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".module.badge.BadgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".module.main.find.publish.FindPublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.main.find.examine.FindExamineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.main.find.detail.FindDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Black" />

        <activity
            android:name=".module.track.TrackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.expo.module.prompt.PromptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".module.service.ServiceHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".module.routes.CustomRouteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".module.activity.ExpoActivityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--心跳连接服务-->
        <service android:name=".module.heart.HeartBeatService" />
        <service android:name=".services.TrackRecordService" />
        <!-- 定位服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!--百度语音服务-->
        <!--<service-->
        <!--android:name="com.baidu.speech."-->
        <!--android:exported="false"/>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!--极光推送配置-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <receiver
            android:name=".pay.DownloadListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".upapp.DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>